/*--------------------- Layout and Typography ----------------------------*/
body {
  font-family: 'Bookman Old Style',Georgia,serif;
  font-size: 15px;
  line-height: 22px;
  color: #252519;
  margin: 0; padding: 0;
  background-color: #E0E7F0
}
a { 
  color: #3067ac;
}
a:visited {
  color: #261a3b;
}
  a:visited {
    color: #261a3b;
  }
p {
  margin: 0 0 15px 0;
}
h4, h5, h6 {
  color: #333;
  margin: 6px 0 6px 0;
  font-size: 13px;
}
  h2, h3 {
    margin: 0;
    color: #000;
    font-family: 'Droid Serif', Georgia, serif;
    font-size: 28px;
    line-height: 32px;
    font-weight: normal;
  }
    h1 {
      margin-top: 40px;
      margin-bottom: 15px;
      color: #000;
      font-family: 'Droid Serif', Georgia, serif;
      font-size: 40px;
      line-height: 60px;
      font-weight: normal;
    }
#container {
  position: relative;
}
#background {
  position: fixed;
  top: 0; left: 524px; right: 0; bottom: 0;
  background: #393939;
  border-left: 1px solid #e5e5ee;
  z-index: -1;
}
#sources {
    position: fixed;
    top: 10px;
    right: 10px;
}

#sources ul {
    margin: 0;
    padding: 0;
}

#sources li {
    list-style-type: none;
    margin: 0;
}

#sources header {
  width: 100%;
  height: 7px;
  background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAMAAAALbFwWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRFYmJiTk5O////1vU+wAAAAAN0Uk5T//8A18oNQQAAACtJREFUeNpiYAIBBiYExcDICOcA2RAeA5QN5jHA2CAeA5wN5CGxGRkBAgwAFwQAcyb8+gUAAAAASUVORK5CYII=') no-repeat scroll right 1px;
  position: absolute;
  right: 2px;
  top: 17px;
  z-index: 2;
  display: none;
}

#sources nav {
    position: absolute;
    top: 23px;
    right: -4px;
    background: #2c2c2c;
    margin: 0 auto;
    /* border-radius */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #626262;
    z-index: 1; 
}

#sources nav table {
  width: 100%;
  border: solid 4px #4e4e4e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font: normal 12px/29px Arial;
}

#sources nav table a {
  color: #cacaca;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 29px;
}

#sources nav tr:hover a {
  color: #fff;
}

#sources nav tr:hover td.size {
  color: #fff;
}

#sources nav tr:first-child td {
  border-top: none;
}

#sources nav td {
  padding: 5px;
  margin: 0;
  border-top: 1px solid #383838;
  vertical-align: bottom;
  padding: 0 10px;
  background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAdCAMAAACKeiw+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJQTFRFKioqKysrKSkpJycnKCgoLCwsQX9AfAAAACVJREFUeNpiYIUARiBgAAImIGABAWYQYGEYlR6VHpWmqTRAgAEAJUkJv5KofxcAAAAASUVORK5CYII=') no-repeat scroll right top;
  overflow: hidden;
}

#sources nav td.size {
  font: normal 10px/25px 'Courier New';
  color: #777;
  text-align: right;
  vertical-align: bottom;
  padding: 0 0 0 10px;
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAdCAMAAACKeiw+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJQTFRFKioqKysrKSkpJycnKCgoLCwsQX9AfAAAACVJREFUeNpiYGEGARYQYAICBiBgBAJWCGAYlR6VHpWmqTRAgAEAGfUJvzcZG5wAAAAASUVORK5CYII=') no-repeat scroll left top;
  overflow: hidden;
  white-space: nowrap;
}

.dd {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAAUCAMAAAAA/fAzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADlQTFRFOTk5LCwsNjY2MDAwLS0tOjo6Nzc3MTExLi4uOzs7ODg4NTU1Ly8vPDw8MjIyYmJiKysrMzMz////ySgyPAAAABN0Uk5T////////////////////////ALJ93AgAAABnSURBVHja7NjJAYNAEMTAwWBzGXYh/2DpEMRfFYKeqruLqn42QdXbISixVkGJ9RWUWCWqt01QYv0EJdZHUGLtghLrEpRYp6DEmgUl1igosf6CEmsRlFiToMQaBJX/88UpdStzjwADAOrV2c314z3ZAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    height: 20px;
    padding: 0 30px 0 10px;
    font: normal 10px/20px Arial,sans-serif;
    color: white;
    cursor: pointer; 
}

#sources:hover nav, #sources:hover header {
    display: block !important;
}

.ddbtn {
    width: 19px;
    height: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAMAAABYi/ZGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGNQTFRFMTExMjIyNjY2iYmJv7+/QEBAycnJtLS0h4eHvLy8y8vLi4uLenp6s7OzhYWFeXl5Nzc3MDAwODg4Ly8vOTk5LS0tLi4uOzs7NTU1PDw8LCwsOjo6YmJiMzMz////Kysr////uF/QFQAAACF0Uk5T//////////////////////////////////////////8An8HQIQAAAHlJREFUeNps0EkOwjAQRFEHCGFOMGNiaHP/U+LfFpsKb1X6Um865JlPyC/R5NJGQXsIWhK0a7VZt3XQojuYHVtftAFLK7Y+aYvCk9mKTXsK2lvQmuJ3y6YF7D35pJ1db9YlX7RLddrFOmh3QbsJ2iRos0eHP7//CjAAFR8ij8uZUL8AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    margin: 0 0 0 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.dd nav {
    display: none;
}

#jump_to, #jump_page {
  background: #66747B;
  -webkit-box-shadow: 0 0 15px #777; -moz-box-shadow: 0 0 15px #777;
  -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px;
  font: 10px sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;
}
#jump_to, #jump_wrapper {
  position: fixed;
  right: 0; top: 0;
  padding: 5px 10px;
}
  #jump_wrapper {
    padding: 0;
    display: none;
  }
    #jump_to:hover #jump_wrapper {
      display: block;
    }
    #jump_page {
      padding: 5px 0 3px;
      margin: 0 0 25px 25px;
    }
      #jump_page .source {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        border-top: 1px solid #393939;
      }
        #jump_page .source:hover {
          background: #586f8b;
          color: #fff;
        }
        #jump_page .source:first-child {
        }
        #jump_page a {
            color: black;
        }
table td {
  border: 0;
  outline: 0;
  vertical-align: top;
}
  td.docs, th.docs {
    max-width: 450px;
    min-width: 450px;
    min-height: 5px;
    padding: 10px 25px 1px 50px;
    overflow-x: hidden;
    vertical-align: top;
    text-align: left;
  }
    .docs pre {
      margin: 15px 0 15px;
      padding-left: 15px;
    }
    .docs p tt, .docs p code {
      background: #f8f8ff;
      border: 1px solid #dedede;
      font-size: 12px;
      padding: 0 0.2em;
    }
    .pilwrap {
      position: relative;
    }
      .pilcrow {
        font: 12px Arial;
        text-decoration: none;
        color: #454545;
        position: absolute;
        top: 6px; left: -20px;
        padding: 1px 2px;
        opacity: 0;
        -webkit-transition: opacity 0.2s linear;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAMAAACecocUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFOTk5////p76kZAAAAAJ0Uk5T/wDltzBKAAAALklEQVR42mJghAEGBgYYxQBhQ5mMDAgmI4wCiYLYUK1wHnb1cPMYkK2BAYAAAwARRgBC1cDXbQAAAABJRU5ErkJggg==') no-repeat scroll 0 0;
        width: 11px;
        height: 11px;
        text-indent: -999px;
      }
        td.docs:hover .pilcrow {
          opacity: 1;
        }
  td.lines {
    width: auto;
    text-align: right;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
    font-size: 12px; line-height: 18px;
    color: #838383;
    padding: 0 14px 16px 14px;
    background-color: #393939;
  }
  td.code, th.code {
    padding: 0 15px 16px 25px;
    width: 100%;
    vertical-align: top;
    background: #393939;
  }
  th.lines {
      background-color: #393939;
  }
  td.code a, th.code a 
  {
      text-decoration: none;
      border-bottom: 1px dashed #93C763;
  }
  td.code a:hover, th.code a:hover {
      color: #93C763;
  }
    pre, tt, code {
      font-size: 12px; line-height: 18px;
      font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
      margin: 0; padding: 0;
    }

/*---------------------- Prettify Syntax Highlighting -----------------------------*/
/*
 * Derived from einaros's Sons of Obsidian theme at
 * http://studiostyl.es/schemes/son-of-obsidian by
 * Alex Ford of CodeTunnel:
 * http://CodeTunnel.com/blog/post/71/google-code-prettify-obsidian-theme
 */

.str
{
    color: #EC7600;
}
.kwd
{
    color: #93C763;
}
.com
{
    color: #66747B;
}
.typ
{
    color: #678CB1;
}
.lit
{
    color: #FACD22;
}
.pun
{
    color: #F1F2F3;
}
.pln
{
    color: #F1F2F3;
}
.tag
{
    color: #8AC763;
}
.atn
{
    color: #E0E2E4;
}
.atv
{
    color: #EC7600;
}
.dec
{
    color: purple;
}
pre.prettyprint
{
    border: 0px solid #888;
}
ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
}
.prettyprint {
    background: #393939;
}
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
    color: #555;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #111;
}
@media print
{
    .str
    {
        color: #060;
    }
    .kwd
    {
        color: #006;
        font-weight: bold;
    }
    .com
    {
        color: #600;
        font-style: italic;
    }
    .typ
    {
        color: #404;
        font-weight: bold;
    }
    .lit
    {
        color: #044;
    }
    .pun
    {
        color: #440;
    }
    .pln
    {
        color: #000;
    }
    .tag
    {
        color: #006;
        font-weight: bold;
    }
    .atn
    {
        color: #404;
    }
    .atv
    {
        color: #060;
    }
}